<!-- main.handlebars -->
<html lang='en'>
	<head>
		<!-- head content here -->
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href='/'>
							Home
						</a>
					</li>

					{{#if loggedIn}}
						<!-- Show additional links when user is logged in -->
						<li>
							<a href='/dashboard'>
								Dashboard
							</a>
						</li>
						{{#if (eq currentUser.role_id 1)}}
							<li>
								<a href='/admin'>
									Admin
								</a>
							</li>
						{{/if}}
						<li>
							<button class='no-button' id='logout'>
								Logout
							</button>
						</li>
					{{else}}
						<!-- Show login and signup links when user is not logged in -->
						<li>
							<a href='/login'>
								Login
							</a>
						</li>
					{{/if}}
				</ul>
			</nav>
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
			<p>
				&copy; 2023 - Tickets
			</p>
		</footer>
		{{#if loggedIn}}
			<script src='/js/logout.js'></script>
		{{/if}}
	</body>
</html>