{{! render all the current users }}
<div class='admin-container'>
	{{#each users as |user|}}
		<div class='admin-card'>
			<h2>
				{{user.name}}
			</h2>
			<p>
				{{user.email}}
			</p>
			<p>
				Is Admin?
				{{#if (eq user.role_id 1)}}
					Yes
				{{else}}
					No
				{{/if}}
			</p>
			<a href='/admin/update/{{user.id}}'>
				Update User
			</a>
		</div>
	{{/each}}
</div>