{{! create a welcome/ landing page with no helpers for now }}

<section>
	<div class='masthead'>
		<h1>
			Welcome to TicketHawk
		</h1>
		<p>
			Please login or signup to continue
		</p>
	</div>
</section>