/* sanitize styles */
/* import fira code from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,500,700');

/* Css Variables Settings */
:root {
	--main-color: #0e0e0e;
	--secondary-color: #000;
	--accent-color: #f700ff;
	--basic-text: #c0c0c0;
	--header-color: #00ff00;
}

body {
	background-color: var(--main-color);
	color: #333;
	font-family: 'Fira Code', monospace;
	font-size: 14px;
	line-height: 1.42857;
	margin: 0;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header-color);
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	margin: 0 0 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p,
label,
li {
	color: var(--basic-text);
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	padding: 10px 20px;
	background: var(--header-color);
}

button:hover {
	background: var(--accent-color);
}

button:disabled {
	cursor: not-allowed;
	background: var(--secondary-color);
	color: var(--basic-text);
}

.hide {
	display: none;
}

nav {
	background: var(--secondary-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav > ul > li {
	margin: 0 10px;
}

nav > ul > li > a {
	font-size: 18px;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
	text-decoration: none;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	padding: 40px;
	flex-grow: 1;
}

footer {
	background: var(--secondary-color);
	padding: 20px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;

	background: var(--secondary-color);
	width: 500px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form > button {
	margin: 10px 0;
	background: var(--accent-color);
	color: var(--main-color);
	padding: 10px;
	font-size: 16px;
	border: none;
}

form > button:hover,
form > button:focus {
	background: var(--main-color);
	color: var(--accent-color);
}

input {
	margin: 10px 0;
	padding: 10px;
}

textarea {
	margin: 10px 0;
	padding: 10px;
	height: 80px;
}

select {
	margin: 10px 0;
	width: 33%;
	height: 40px;
	padding: 10px;
}

label {
	margin: 10px 0;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.masthead {
	text-align: center;
	margin: 30px 0;
}

.ticket-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ticket-card {
	background: var(--secondary-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 10px;
	padding: 20px;
	width: 300px;
}

#new-ticket-span {
	background: var(--secondary-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 10px auto;
	padding: 4px 8px;
	cursor: pointer;
}

#new-ticket-span:hover {
	color: var(--accent-color);
}
#new-ticket-form {
	background: var(--secondary-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 10px auto;
	padding: 20px;
	width: 500px;
	display: flex;
	flex-direction: column;
}

.admin-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.admin-card {
	background: var(--secondary-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 10px;
	padding: 20px;
	width: 300px;
}

.ticket-detail {
	display: flex;
	flex-direction: column;

	align-items: center;
	width: 90%;
	margin: 0 auto;
}

#ticket-detail-card {
	background: var(--secondary-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 10px auto;
	padding: 20px;
	width: 75%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#ticket-detail-card > p {
	margin: 15px auto;
}

#ticket-status {
	width: 33%;
}

.comment-list {
	width: 100%;
	background: var(--main-color);
}
.comment-list-item {
	width: 75%;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ticket-detail-buttons > button {
	margin: 10px;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 768px) {
	.ticket-card-container {
		justify-content: center;
	}
	.ticket-card {
		width: 90%;
	}
	.admin-container {
		justify-content: center;
	}
	.admin-card {
		width: 90%;
	}
	.ticket-detail {
		width: 100%;
	}
	#ticket-detail-card {
		width: 90%;
	}
	#ticket-status {
		width: 100%;
	}
	.comment-list-item {
		width: 100%;
	}

	#new-ticket-form {
		width: 90%;
	}

	.comment-form {
		width: 100%;
	}
	input {
		width: 100%;
	}

	form {
		width: 90%;
	}

	/* mobile nav */
	nav {
		flex-direction: column;
	}
	nav > ul {
		flex-direction: column;
	}
	nav > ul > li {
		margin: 10px 0;
	}
}
